/website/nbproject/private/
/waystoneWebsite/nbproject/private/
/EmployeeLogin/nbproject/private/
/EmployeeLogin/build/
/BDTesting/nbproject/private/
/testJS/nbproject/private/
/LoginDeletedPage/nbproject/private/