@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');
* {
	margin: 0;
	padding: 0;
	list-style: none;
}
header {
	width: 100%;
	height: 100px;
	min-height: 40px;
	-moz-box-shadow: 0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
	position: fixed;
	z-index: 100;
	background: rgba(255,255,255,1);
}
.headerContainer {
	width: 1600px;
	height: 100%;
	margin: 0 auto;
}
nav {
	width: 25%;
	height: 100%;
	float:left;
}
.navOverlay {
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.7);
}
.navWhitespace {
	width: 100%;
	height: 60px;
	min-height: 0;
}
nav ul {
	height: 40px;
	width: 100%;
}
nav ul li:active {
	background-color: #275cb2;
}
nav ul li:hover {
	letter-spacing: 2px;
}
nav ul li {
	float: left;
	height: 100%;
	width: 33.33%;
	font-size: 20px;
	font-family: "Marriweather";
	letter-spacing: 1px;
	position: relative;
	background-color: none;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	transition: .5s letter-spacing, .2s background-color;
}
.titleContainer:hover {
	letter-spacing: 5px;
}
.titleContainer {
	font-family: "Nanum Myeongjo";
	width: 50%;
	height: 100%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	letter-spacing: 2px;
	font-size: 30px;
	transition: .75s all;
}
.titleContainer .title {
	position: relative;
	padding-bottom: 5px;
}
.titleContainer:hover .title:before, .titleContainer:hover .title:after {
	width: 51%;
	opacity: 1;
}
.titleContainer .title:before {
	position: absolute;
  opacity: 0;
  width: 0;
  height: 4px;
  content: '';
  bottom: 0px;
	background: #275cb2;
	transition: .75s all;
}
.titleContainer .title:after {
	position: absolute;
  opacity: 0;
  width: 0;
	right: 0;
  height: 4px;
  content: '';
  bottom: 0px;
	background: #275cb2;
	transition: .75s all;
}
.logSignWrapper {
	width: 25%;
	height: 100%;
	float: left;
}
.logSignOverlay {
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.7);
}
.logsignWhitespace {
	width: 100%;
	height: 60px;
	min-height: 0;
}
.logSignContainer {
	width: 60%;
	height: 40px;
	margin: 0 auto;
}
.logSignContainer>div:active {
	background-color: #275cb2;
}
.logSignContainer>div:hover {
	letter-spacing: 2px;
}
.login, .signup {
	width: 50%;
	height: 100%;
	float: left;
	font-family: "Merriweather";
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	letter-spacing: 1px;
	background-color: none;
	transition: .5s letter-spacing, .2s background-color;
}
.bodyWhitespace {
	width: 100%;
	height: 100px;
}
/* Home */
.contentPannel {
	width: 100%;
	height: 700px;
	position: relative;
}
.MS-Wrapper {
	background: url("../images/miami-road.jpg") no-repeat 100%;
	background-size: 100% 150%;
	background-position: 50% 40%;
}
.miami-Wrapper {
	background: url("../images/miami-beach.jpg") no-repeat 100%;
	background-size: 100% 170%;
	background-position: 50% 40%;
}
.newyork-Wrapper {
	background: url("../images/newyork.jpg") no-repeat 100%;
	background-size: 100% 200%;
	background-position: 50% 40%;
}
.chicago-Wrapper {
	background: url("../images/chicago.jpg") no-repeat 100%;
	background-size: 100% 260%;
	background-position: 50% 40%;
}
.vegas-Wrapper {
	background: url("../images/lasvegas.jpg") no-repeat 100%;
	background-size: 100% 200%;
	background-position: 50% 40%;
}
.losAngeles-Wrapper {
	background: url("../images/losangeles.jpg") no-repeat 100%;
	background-size: 100% 280%;
	background-position: 50% 40%;
}
.contentPannelItem {
	background: rgba(255,255,255,.5);
	border: 5px solid #FFF;
	position: absolute;
	font-family: "Merriweather";
}
.logo {
	background: url("../images/LOGO.PNG") no-repeat 100%;
	background-size: 100% 100%;
	width: 100px;
	height: 75px;

}
.subtitle {
	background: rgba(255,255,255,.5);
	margin-top: 5%;
	margin-left: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 70px;
	padding: 20px 40px;
	letter-spacing: 15px;
	font-family: "Nanum Myeongjo";
}
.loginDesc {
	max-width: 50%;
	padding: 30px;
	margin-left: 5%;
	margin-top: 16%;
	font-size: 25px;
	line-height: 35px;
}
.loginSignupButton:hover {
	letter-spacing: 4px;
	background: rgba(255,255,255,1);
}
.loginSignupButton {
	margin-left: 68%;
	margin-top: 17%;
	font-size: 40px;
	padding: 25px;
	letter-spacing: 2px;
	background: rgba(255,255,255,.5);
	font-family: "Nanum Myeongjo";
	transition: .5s all;
}
.cityTitle {
	font-size: 70px;
	letter-spacing: 10px;
	margin-top: 50px;
	padding: 20px 200px;
	font-family: "Nanum Myeongjo";
}
.cityDesc {
	font-size: 17px;
	margin-top: 225px;
	right: 0;
	max-width: 70%;
	padding: 20px;
	line-height: 40px;
	background: rgba(255,255,255,.85);
}
/* footer */
footer {
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	background-color: #ddd;
		-moz-box-shadow: inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow: inset 0 0 10px #000000;
}
.footerLogo {
	width: 120px;
	height: 80px;
	margin-left: 30px;
	background: url("../images/LOGO.PNG") no-repeat 100%;
	background-size: 100% 100%;
}
/* Box Effect */
.boxEffect {
	position: relative;
}
.boxEffect:hover:before, .boxEffect:hover:after {
	height: 100%;
	opacity: 1;
}
.boxEffect:before {
	position: absolute;
  opacity: 0;
  width: 2px;
  height: 0;
	left: 0;
  content: '';
  bottom: 0px;
	background: #275cb2;
	transition: .5s all;
}
.boxEffect:after {
	position: absolute;
  opacity: 0;
  width: 2px;
	right: 0;
  height: 0;
  content: '';
  bottom: 0px;
	background: #275cb2;
	transition: .5s all;
}
/* screen size adjustment */
@media screen and (max-width: 1660px){
	.headerContainer {
		width: 1300px;
		height: 100%;
		margin: 0 auto;
	}
	.titleContainer {
		font-size: 25px;
	}
	.login, .signup {
		font-size: 17px;
	}
	nav ul li {
		font-size: 17px;
	}
	.contentPannel {
		height: 500px;
	}
	.loginSignupButton {
		font-size: 30px;
		margin-left: 65%;
	}
	.loginDesc {
		font-size: 20px;
	}
}
/* Utilities */
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
