@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');

@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

@import url('https://fonts.googleapis.com/css?family=Merriweather');

.title {
	font-size: 2em;
	color: black;
	text-align: center;
	font-family: "Nanum Myeongjo";
	position: relative;
}

.topHeader {
	background-color: rgba(255, 255, 255, 1);
	margin: 0;
	padding: 0;
}

#nav {
	background-color: rgba(255, 255, 255, 1);
	height: 1.2em;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 2px solid lightslategray;
}

.tenantBack {
	background-image: url("images/miami-beach-blur.png");
	background-size: 100% 100%;
	background-attachment: fixed;
}

.loginAlign {
	display: inline-block;
	margin-right: 5px;
}

.passwordAlign {
	display: inline-block;
	margin-right: 33px;
}

#loginTitle {
	background-color: rgba(255, 255, 255, 1);
	height: 77px;
	width: 100%;
	padding-top: 33px;
}

@media screen and (max-width:1280px) {
	.navList {
		display: inline;
		padding-right: 20px;
	}
}

@media screen and (min-width:1281px) and (max-width:1400px) {
	.navList {
		display: inline;
		padding-right: 35px;
	}
}

@media screen and (min-width:1401px) and (max-width:1600px) {
	.navList {
		display: inline;
		padding-right: 50px;
	}
}

@media screen and (min-width:1601px) and (max-width:1800px) {
	.navList {
		display: inline;
		padding-right: 75px;
	}
}

@media screen and (min-width:1801px) and (max-width:2000px) {
	.navList {
		display: inline;
		padding-right: 100px;
	}
}

.link {
	color: black;
	text-decoration: none;
	font-size: 1em;
	font-family: "Noto Serif";
}

.link:hover {
	color: lightslategray;
	text-decoration: none;
}

div ul {
	list-style-type: none;
}

#signOut {
	text-align: right;
}

.topLogo {
	text-align: left;
	float: left;
	width: 60px;
	height: 60px;
}

.shadowBox {
	font-family: "Noto Serif";
	border: 10px dimgray;
	background-color: ghostwhite;
	padding: 50px;
	margin: 100px;
	width: 33%;
	position: relative;
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.shadowBox h3 {
	padding-top: -50px;
	padding-bottom: 20px;
}

.editBox {
	font-family: "Noto Serif";
	border: 10px dimgray;
	background-color: ghostwhite;
	padding: 50px;
	width: 50%;
	position: relative;
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	text-align: center;
	margin: 0 auto;
}

#editPass {
	width: 33%;
}

.empInfo {
	font-family: "Noto Serif";
	position: relative;
	padding: 50px;
}

.pageTitle {
	text-align: center;
	font-size: 1.2em;
}

#profileBox {
	padding: 50px;
}

#edit {
	padding-top: 50px;
	padding-left: 80px;
}

.editInfo {
	text-align: left;
}

.staLeft {
	padding-right: 50px;
}

.zRight {
	padding-left: 20px;
}

.empAddRight {
	padding-left: 55px;
}

.empFRight {
	padding-left: 32px;
	padding-right: 20px;
}

.empCitRight {
	padding-left: 87px;
	padding-right: 20px;
}

.midRight {
	padding-right: 20px;
}

.firstleft {
	padding-right: 50px;
}

.firstRight {
	padding-left: 67px;
	padding-right: 20px;
}

.addRight {
	padding-left: 56px;
}

.citRight {
	padding-left: 87px;
	padding-right: 20px;
}

.staLeft {
	padding-right: 50px;
}

.zRight {
	padding-left: 20px;
}

.balDueRight {
	padding-left: 0px;
}

.payAmountRight {
	padding-left: 0px;
}

.payTypeRight {
	padding-left: 31px;
}

.pNameRight {
	padding-left: 31px;
}

.pCTypeRight {
	padding-left: 62px;
}

.pCNumRight {
	padding-left: 36px;
}

.pExpMoRight {
	padding-left: 21px;
}

.pExpYrRight {
	padding-left: 0px;
}

.pCvvRight {
	padding-left: 37px;
}

.pBTypeRight {
	padding-left: 36px;
}

.pBAcctRight {
	padding-left: 10px;
}

.pBRoutRight {
	padding-left: 13px;
}

.pAddRight {
	padding-left: 32px;
}

.pCityRight {
	padding-left: 110px;
}

.pStateRight {
	padding-left: 102px;
}

.pZipRight {
	padding-left: 74px;
}

.mTypeRight {
	padding-left: 0px;
}

.mDescRight {
	padding-left: 24px;
}

.mReqDateRight {
	padding-left: 14px;
}

.userRight {
	padding-left: 0px;
}

.pwdRight {
	padding-left: 0px;
}

#welcome {
	font-family: "Noto Serif";
	font-weight: bold;
	padding-left: 50px;
	padding-top: 50px;
}

.quickLink {
	text-align: center;
	margin: 0 auto;
}

.warning {
	text-align: left;
	font-size: 0.8em;
	color: red;
}

.table {
	border-collapse: collapse;
	margin: 0 auto;
}

.table-header {
	text-align: center;
	background: none repeat scroll 0 0 #E5E5E5;
	border-bottom: 1px solid #BBBBBB;
	padding: 16px;
}

.table-odd {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFF;
	border-top: 1px solid #BBBBBB;
}

.table-even {
	text-align: center;
	background: none repeat scroll 0 0 #F9F9F9;
	border-top: 1px solid #BBBBBB;
}

.table-link {
	color: black;
	text-decoration: none;
}

.table-link:hover {
	color: lightslategray;
	text-decoration: none;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: ghostwhite;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	text-align: center;
	width: 150px;
	max-width: 200px;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.content {
	color: black;
	text-decoration: none;
	font-size: 0.9em;
	font-family: "Noto Serif";
	text-align: center;
}

.content:hover {
	color: lightslategray;
	text-decoration: none;
}

.dropdown {
	position: relative;
	display: inline-block;
	text-decoration: none;
}

.jobType {
	text-align: left;
}

.jobDesc {
	text-align: left;
}

.datereq {
	text-align: center;
}

.paymentDate {
	text-align: center;
	width: 200px;
}

.recordName {
	text-align: left;
	width: 150px;
}

.recordAmount {
	text-align: right;
	width: 150px;
}

.centerAlign {
	text-align: center;
}

.locations {
	text-align: center;
}

.locationTable {
	width: 100%;
	border: 2px solid lightslategray;
	background-color: rgba(255, 255, 255, 1);
}

.locationTable td {
	width: 33%;
}

.locationTable td+td {
	border-left: 2px solid lightslategray;
}

.locTitle {
	text-align: center;
	font-weight: bold;
}